<!-- Hack to get user_id into JS environment -->
<script>app.user_id = <%= @current_user? @current_user.id : 'undefined' %>;</script>

<script id="home" type="text/template">
  

</script>


<script id="login-options" type="text/template">


  
</script>


<script id="login" type="text/template"> 
  
  

</script>


<script id="signup" type="text/template"> 

  <div class="sign-up-and-in-bg">
    
    <form>

      <input type="text" name="fname" placeholder="First name">
      <input type="text" name="lname" placeholder="Last name">
      <input type="text" name="email" placeholder="Email">

    </form>

    <button>Sign Up</button>

  </div>
  
</script>


<script id="form" type="text/template"> 
  
</script>


<script id="chart" type="text/template"> 
  
</script>


<script id="all-contacts" type="text/template"> 

</script>







