.hometext p {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

.hometext {
  max-width: 700px;
  margin: -50px auto 70px;
}

#video {
  margin-left: -15px;
  margin-top: -20px;
}

video#bgvid {
overflow: hidden;
top: 0;
right: 0;
min-width: 100%;
max-height: 50%;
width: auto;
height: auto;
-webkit-transform: translateX(-1%) translateY(-15%);
transform: translateX(-1%) translateY(-15%);
background-size: cover;
}

#heading-over-image {
  position: absolute;
  top: 45%;
  left: 27.5%;
  text-align: center;
  color: #FFF;

  }

#heading-over-image h1 {
  font-size: 60px;
}

#authenticateButton {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.5;
  margin: auto;
  width: 40%;
  height: 40px;
}

#heading-over-image p {
  display: block;
  color: black;
  font-size: 20px;
  cursor: pointer;
  line-height: 40px;
}
.icon-down-open {
  font-size: 70px;
  color: black;
}

#downarrow {
  position: absolute;
  top: 90%;
  left: 45%;
}

/*a.slowly {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}*/