.hometext p {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

.hometext {
  max-width: 700px;
  margin: 0px auto 50px;
}

#video {
  margin-left: -15px;
  margin-top: -20px;
}

video#bgvid {
overflow: hidden;
top: 0;
right: 0;
min-width: 100%;
max-height: 50%;
width: auto;
height: auto;
-webkit-transform: translateX(-1%) translateY(-15%);
transform: translateX(-1%) translateY(-15%);
background-size: cover;
}

#heading-over-image {
  position: absolute;
  top: 45%;
  left: 40%;
  text-align: center;
  color: #FFF;

  }

#heading-over-image h1 {
  font-size: 60px;
}

#authenticateButton {
  box-sizing: border-box;
  background-color: white;
  opacity: 0.5;
  margin: auto;
  width: 90%;
  height: 40px;
}

#heading-over-image p {
  display: block;
  color: black;
  font-size: 20px;
  cursor: pointer;
  line-height: 40px;
}
.icon-down-open {
  font-size: 70px;
  color: #FFF;
}

#downarrow {
  position: absolute;
  top: 90%;
  left: 45%;
}

a.slowly {
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
 
/* Modal box or Popup box */
.popupContainer{
  position:absolute;
  width:330px;
  height: auto;
  left:45%;
  top:80px;
  background: #FFF;
}

#small-or {
  font-size: 10px;
  margin: 25px 10px;
}

.btn  {
    padding: 10px 20px;
     background:  #F4F4F2;
}

.btn_red  {
    background:  #ED6347;
     color:  #FFF;
}

.btn:hover  {
    background:  #E4E4E2;
}

.btn_red:hover  {
    background:  #C12B05;
}

a.btn  {
    color: #666;
     text-align:  center;
     text-decoration:  none;
}

a.btn_red  {
    color:  #FFF;
}

/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
     text-transform:  uppercase;
}
 
.popupHeader  {
    background: #F4F4F2;
     position: relative;
     padding: 10px 20px;
     border-bottom: 1px solid #DDD;
     font-weight: bold;
}
 
.popupHeader .modal_close  {
    position:  absolute;
     right:  0;
     top: 0;
     padding: 10px 15px;
     background: #E4E4E2;
     cursor:  pointer;
     color: #aaa;
     font-size: 16px;
}
 
.popupBody  {
    padding: 20px;
}

/* Social Login Form */
 
.social_login .social_box  {
    display: block;
     clear: both;
     padding: 10px;
     margin-bottom:  10px;
     background:  #F4F4F2;
     overflow:  hidden;
}
 
.social_login .icon  {
    display: block;
     width: 10px;
     padding: 5px 10px;
     margin-right:  10px;
     float: left;
     color: #FFF;
     font-size: 16px;
     text-align:  center;
}
 
/*.social_login .fb .icon  {
    background: #3B5998;
}*/
 
.social_login .google .icon  {
    background: #DD4B39;
}
 
.social_login .icon_title  {
    display: block;
     padding: 5px 0;
     float: left;
     font-weight:  bold;
     font-size:  16px;
     color: #777;
}
 
.social_login .social_box:hover  {
    background:  #E4E4E2;
}
 
 
.centeredText  {
    text-align:  center;
     margin:  20px 0;
     clear:  both;
     overflow:  hidden;
     text-transform:  uppercase;
}
 
 
.action_btns  {
    clear: both;
     overflow:  hidden;
}
 
.action_btns a  {
    display:  block;
}

/* User Login Form */
.user_login  {
    display:  none;
}

.user_login label  {
    display:  block;
     margin-bottom: 5px;
}

.user_login input[type="text"],  .user_login input[type="email"],  .user_login input[type="password"]  {
    display:  block;
     width: 90%;
     padding:  10px;
     border: 1px solid #DDD;
     color: #666;
}

.user_login input[type="checkbox"]  {
    float: left;
     margin-right: 5px;
}

.user_login input[type="checkbox"]+label  {
    float: left;
}


.user_login .checkbox  {
    margin-bottom:  10px;
     clear:  both;
     overflow:  hidden;
}

.forgot_password  {
    display: block;
     margin:  20px 0 10px;
     clear:  both;
     overflow:  hidden;
     text-decoration:  none;
     color: #ED6347;
}

/* User Register Form */
.user_register  {
    display:  none;
}
 
.user_register label  {
    display:  block;
     margin-bottom: 5px;
}
 
.user_register input[type="text"],  .user_register input[type="email"],  .user_register input[type="password"]  {
    display:  block;
     width: 90%;
     padding:  10px;
     border: 1px solid #DDD;
     color: #666;
}
 
.user_register input[type="checkbox"]  {
    float: left;
     margin-right: 5px;
}
 
.user_register input[type="checkbox"]+label  {
    float: left;
}
 
 
.user_register .checkbox  {
    margin-bottom:  10px;
     clear:  both;
     overflow:  hidden;
}