// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flotHere {
  width: 90%;
  height: 400px;
  margin: -100px auto -65px auto;
}

#snippetsHere {
  width: 960px;
}

.snippet {
  background-color: gainsboro;
  padding: 1px 5px 8px 5px;
  margin: 3px auto;
  display: inline-block;
  width: 335px;
  p, li {
  font-size: 0.9em;
  }
  &:nth-child(odd) {
    border-right: 1px solid black;
  }
}